/********************************************/
/*[css00] Base Styles*/
/********************************************/

body {
  margin: 0;
  font-family: "Asap", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
  color: var(--main-text);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
li {
  font-family: "Alegreya Sans SC", sans-serif;
}

h5,
h6 {
  font-family: "Asap", sans-serif;
  font-weight: bold;
}

li {
  list-style: none;
  padding-left: 1rem;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

:root {
  --main-highlight: #bb4711;
  --main-background: #2f4858;
  --secondary-background: #547387;
  --main-text: #fff;
  --main-white: #fff;
}

.off {
  display: none;
}

.left {
  position: absolute;
  transform: translateX(-100%) !important;
}
.right {
  position: absolute;
  transform: translateX(100%) !important;
}

button {
  background: unset;
  border: unset;
  color: var(--main-text);
  font: inherit;
  cursor: pointer;
}

.linkButton {
  background-color: var(--main-highlight);
  padding: 0.5em 2em;
  border-radius: 12px;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
}

.closeButton {
  font-size: 2rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

/********************************************/
/*[css01]  Title CSS*/
/********************************************/

.title {
  display: grid;
  grid-template-columns: 1.5rem 1fr 3rem;
  padding: 10px;
  align-items: center;
}

img#logoImg {
  width: 3rem;
  height: 3rem;
}

.titleText {
  justify-self: right;
  padding-right: 0.1rem;
}

#menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

/********************************************/
/*[css02] Home CSS*/
/********************************************/
.home {
  display: grid;
  margin-top: 20vh;
  place-items: center;
}

.CTA {
  text-align: center;
}

.CTAText {
  max-width: 400px;
}

/********************************************/
/*[css03] Menu CSS*/
/********************************************/
#menu {
  position: absolute;
  width: min(25rem, 100vw);
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  background-color: var(--secondary-background);
}

#menuContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem 0 2rem;
}

li.menuItem {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.menuUser {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

/*burger menu from https://css-tricks.com/hamburger-menu-with-a-side-of-react-hooks-and-styled-components/ */
.burger {
  position: absolute;
  top: 2rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burgerToppings {
  width: 2rem;
  height: 0.25rem;
  background: var(--main-white);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.closedMenu .burgerToppings:first-child,
.closedMenu .burgerToppings:nth-child(3) {
  transform: rotate(0deg);
}

.closedMenu .burgerToppings:nth-child(2) {
  opacity: 1;
  transform: translateX(0px);
}

.openMenu .burgerToppings:first-child {
  transform: rotate(45deg);
}

.openMenu .burgerToppings:nth-child(2) {
  opacity: 0;
  transform: translateX(50%);
}

.openMenu .burgerToppings:nth-child(3) {
  transform: rotate(-45deg);
}

/********************************************/
/*[css04] Panel CSS*/
/********************************************/

.panel {
  display: flex;
  flex-direction: column;
}

/********************************************/
/*[css05] AddNewButton CSS*/
/********************************************/

.addNewButton {
  width: 80%;
  border: 3px solid var(--main-white);
  margin: 1rem auto;
  border-radius: 12px;
  text-align: center;
  padding: 1em;
}

.plus {
  font-size: 5rem;
  line-height: 3rem;
}

/********************************************/
/*[css06] AddNewButton CSS*/
/********************************************/

.squashButton {
  border: 3px solid var(--main-white);
  width: 80%;
  margin: 1rem auto;
  border-radius: 12px;
  text-align: center;
  height: 14rem;
}
